body{
  background-color: red;

}
.me {
  float: right;
  width: 500px;
  color: blue;

}


.column {
    width: 400px;
    float: right;
    color: yellow;
  }

.facebuk {
  float: right;
  width: 50%;
}
